body{
  background-color: #779690;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}
h1{
    padding: 2pt;
    color:blue;
    text-align: center;
    font-style:italic;
  }
  
  canvas{
   
   height: 200px;
   margin: 10px;
   border: 2px solid black;
  }
  
  .notes{
    width: fit-content;
    margin: auto;
    color: cadetblue;
  }