      </div>
      <!--______________ Bottom Container Starts here_____________-->
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/uddin-fahad">LinkedIn</a>
        <a class="footer-link" href="https://github.com/fuddin95?tab=repositories">GitHub</a>
        <p class="copyright">© 2020 Muhammad Fahad Uddin.</p>
      </div>




      </body>

      </html>