<%- include("header"); -%>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Fahad</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pojects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#frontEnd">Front End</a>
          <a class="dropdown-item" href="#backEnd">Back End</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

  </div>
</nav>
<!--  Top COntainer-->
<div class="topContainer container-fluid">
  <img class="top-cloud" src="Images/cloud.png" alt="cloud">

  <h1>I'm a Full-Stack developer</h1>

  <h2> a <span class="pro">pro</span>grammer</h2>
  <img class="bottom-cloud" src="Images/cloud.png" alt="cloud">
  <img src="Images/mountain.png" alt="mountain">

</div>
<!--________Middle Container starts here_________-->
<div class="middle ">
  <div class="profile">
    <img src="Images/fahad.png" alt="MyProfile Pic">
    <h2>Hello.</h2>
    <p class="intro">I am a highly motivated and passionate person
      who is always keen to learn new skills and ready to take on challenging tasks.
    </p>
  </div>

  <hr>
  <!--________Skills_________-->
  <%- include("projects"); -%>
  <hr>

  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3></h3>
    <p class="contact-message"> Please feel free to contact me to discuss it further.
    </p>
    <a class="btn" href="mailto:fahaduddin@live.com">Email Me</a>
  </div>
</div>

<%- include("footer"); -%>