<%- include("header"); -%>

<div class="topContainer">
  <img class="top-cloud" src="Images/cloud.png" alt="cloud">


  <h1>I'm a web developer</h1>

  <h2> a <span class="pro">pro</span>grammer</h2>
  <img class="bottom-cloud" src="Images/cloud.png" alt="cloud">
  <img src="Images/mountain.png" alt="mountain">

</div>
<!--________Middle Container starts here_________-->
<div class="middle">
  <div class="profile">
    <img src="Images/fahad.png" alt="MyProfile Pic">
    <h2>Hello.</h2>
    <p class="intro">I am highly motivated person who is always keen to learn new skills and
      challenging tasks.
    </p>
  </div>
  <hr>
  <!--________Skills_________-->
  <div class="skills">
    <h2>My Skills.</h2>
    <!--________Front End Projects_________-->
    <!-- 1 -->
    <div class="skill-row">
      <a href="projects/Dice game/dicee.html">
        <img class="image" src="Images/dices.jpg" alt=" Dice Picture">
        <h3>Dice Game</h3>
      </a>
      <p>This webpage allows you to roll dices every time the page is refreshed.
        The dice face and the winning player name is diplayed dynamically using <strong> jQuerry</strong>.
        The website is styled using custom <strong>CSS</strong>.</p>
    </div>
    <!-- 2 -->
    <div class="skill-row">
      <a href="projects/Drum Kit/index.html">
        <img class="image" src="Images/drumm.jpg" alt="Drum Kit">
        <h3>Play Drum with your keyboard</h3>
      </a>
      <p>This webpage is developed and designed using custom <strong>CSS</strong>. The webpage heavily
      utilizes the power of <strong>jQuerry and javascript</strong> to play drum using your keyboard or even by clicking 
    on the instrument picture</p>
    </div>
    <!-- 3 -->

    <div class="skill-row">
      <a href="projects/Simon Game/index.html">
        <img class="image" src="Images/simonGame.jpg" alt=" Simon Game">
        <h3>Memory Challenge Game</h3></a>
      <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris.
        Curabitur wisi, quisque vel eu, rutrum nam.</p>

    </div>
    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  </div>
  <hr>
  <!--________Back End Projects_________-->
  <div class="projects">
    <h2>My Projects</h2>
    <div class="row">



      <div class="col-lg-3 col-md-4 col-sm-6" style="border: 1px solid">
        <a href="projects/Drum Kit/index.html">
          <img class="image" src="Images/drum.png" alt="Drum Kit"><br>
          Play Drum with your keyboard</a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6" style="border: 1px solid">
        <a href="projects/Simon Game/index.html">
          <img class="image" src="Images/simon.jfif" alt=" Simon Game"><br>
          Memory Challenge Game
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6" style="border: 1px solid">
        col-lg-3 col-md-4 col-sm-6
      </div>
    </div>

  </div>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Lorem ipsum dolor sit amet, non elit.</h3>
    <p class="contact-message">Lorem ipsum dolor si hjghjgh jghjgt amet, in quis, aenean amet. Phasellus sodales, tellus
      donec dui, ornare erat.</p>
    <a class="btn" href="mailto:fahaduddin@live.com">CONTACT ME</a>
  </div>
</div>








<%- include("footer"); -%>