<%- include("header"); -%>



<!--  Top Container-->
<div class="topContainer container-fluid">
  <img class="top-cloud" src="Images/cloud.png" alt="cloud">

  <h1>I'm a Full-Stack developer</h1>

  <h2> a <span class="pro">pro</span>grammer</h2>
  <img class="bottom-cloud" src="Images/cloud.png" alt="cloud">
  <img src="Images/mountain.png" alt="mountain">

</div>
<!--________Middle Container starts here_________-->
<div class="middle ">
  <div class="profile">
    <img src="Images/fahad.png" alt="MyProfile Pic">
    <h2>Hello.</h2>
    <p class="intro">I am a highly motivated and passionate person
      who is always keen to learn new skills and ready to take on challenging tasks.
    </p>
  </div>

  <hr>
  <!--________Skills_________-->
  <%- include("projects"); -%>
  <hr>

  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3></h3>
    <p class="contact-message"> Please feel free to contact me to discuss it further.
    </p>
    <a class="btn" href="mailto:fahaduddin@live.com">Email Me</a>
  </div>
</div>

<%- include("footer"); -%>