<div class="skills">
    <h2>My Skills.</h2>
    <!--________Front End Projects_________-->
    <span id="frontEnd">
          <!-- 1 -->
          <div class="skill-row">
            <a href="projects/Dice game/dicee.html" target="_blank">
                <img class="image" src="Images/dices.jpg" alt=" Dice Picture">
                <h3>Dice Game</h3>
            </a>
            <p>This webpage allows you to roll dices every time the page is refreshed.
                The dice face and the winning player name is diplayed dynamically using <strong> jQuerry</strong>.
                The website is styled using custom <strong>CSS</strong>.</p>
        </div>
        <!-- 2 -->
        <div class="skill-row">
            <a href="projects/dogCaravan/index.html" target="_blank">
                <img class="image" src="Images/dog.jpg" alt=" Dog Image">
                <h3>Pet's Day Out</h3>
            </a>
            <p>A fully responsive webpage designed using <strong>Bootsrap</strong> elements such as
                carousel, containers, nav bar and pricing plan.
                Additionally, the CSS is customized to attain the desired result such as change color when
                mouse is hovered on the specific text.
            </p>
        </div>

        <!-- 3 -->
        <div class="skill-row">
            <a href="projects/Simon Game/index.html" target="_blank">
                <img class="image" src="Images/simonGame.jpg" alt=" Simon Game">
                <h3>Memory Challenge Game</h3>
            </a>
            <p>The webpage uses <strong>jQuerry and javascript</strong> to record the action of the user and match it with the game
                rules. It also uses custom fonts by <em><u>google fonts</u></em>. The game is built from scratch with 
            </p>
        </div>
        <!-- 4 -->
        <div class="skill-row">
            <a href="projects/Drum Kit/index.html" target="_blank">
                <img class="image" src="Images/drumm.jpg" alt="Drum Kit">
                <h3>Play Drum with your keyboard</h3>
            </a>
            <p>This webpage is developed and designed using custom <strong>CSS</strong>. It
                utilizes the power of <strong>jQuerry and javascript</strong> to play drum using your keyboard or even
                by clicking on the instrument picture
            </p>
        </div>
        <!-- 5 -->
        
        <div class="skill-row">
            <a href="projects/greenScreen/GreenScreen.html" target="_blank">
                <img class="image" src="Images/greenscreen.jpg" alt=" Dog Image">
                <h3>Change Your Background</h3>
            </a>
            <p>A quick way to change your background. All you need is a picture on
                 a green background and a background image of your choice and Voila!!! This simple page 
                 utilizes <strong>javascript</strong> and an external library to accomplish this task.
            </p>
        </div>
</div>
<hr>
<!--________Back End Projects_________-->
<div class="projects">
    <h2>My Projects</h2>
    <div class="row">


    </div>

</div>