<div class="skills">
    <!-- <h2>My Skills</h2> -->
    <br>
    <!--________Front End Projects_________-->
    <span id="frontEnd">
        <h4><a class="footer-link" href="https://github.com/fuddin95/myWebsite/tree/master/public/projects">FrontEnd
                Github</a></h4>
        <!-- 1 -->
    <div class="skill-row">
        <a href="https://google-keeper.herokuapp.com/" target="_blank">
            <img class="image" src="Images/googleKeeper.jpg" alt=" Google Keeper">
            <h3>Google Keeper</h3>
        </a>
        <p>
            The page is built using React to mimic google keeper app.  
        </p>
    </div>
        <!-- 2 -->
        <div class="skill-row">
            <a href="projects/Dice game/dicee.html" target="_blank">
                <img class="image" src="Images/dices.jpg" alt=" Dice Picture">
                <h3>Dice Game</h3>
            </a>
            <p>This webpage allows you to roll dices every time the page is refreshed.
                The dice face and the winning player name is diplayed dynamically using <strong> jQuerry</strong>.
                The website is styled using custom <strong>CSS</strong>.</p>
        </div>
        <!-- 3 -->
        <div class="skill-row">
            <a href="projects/dogCaravan/index.html" target="_blank">
                <img class="image" src="Images/dog.jpg" alt=" Dog Image">
                <h3>Pet's Day Out</h3>
            </a>
            <p>A fully responsive webpage designed using <strong>Bootsrap</strong> elements such as
                carousel, containers, nav bar and pricing plan.
                Additionally, the CSS is customized to attain the desired result such as change color when
                mouse is hovered on the specific text.
            </p>
        </div>

        <!-- 4 -->
        <div class="skill-row">
            <a href="projects/Simon Game/index.html" target="_blank">
                <img class="image" src="Images/simonGame.jpg" alt=" Simon Game">
                <h3>Simon Game</h3>
            </a>
            <p>The webpage is built from scratch, it uses <strong>jQuerry and javascript</strong> to record the input of the user and compare it against 
                the game rules. It also uses custom fonts by <em><u>google fonts</u></em>. 

            </p>
        </div>
        <!-- 6 -->
        <div class="skill-row">
            <a href="projects/Drum Kit/index.html" target="_blank">
                <img class="image" src="Images/drumm.jpg" alt="Drum Kit">
                <h3>Play Drum with your keyboard</h3>
            </a>
            <p>This webpage is developed and designed using custom <strong>CSS</strong>. It
                utilizes the power of <strong>jQuerry and javascript</strong> to play drum using your keyboard or even
                by clicking on the instrument picture
            </p>
        </div>
        <!-- 7 -->

        <div class="skill-row">
            <a href="projects/greenScreen/GreenScreen.html" target="_blank">
                <img class="image" src="Images/greenscreen.jpg" alt=" Dog Image">
                <h3>Change Your Background</h3>
            </a>
            <p>A quick way to change your background. All you need is a picture on
                a green background and a background image of your choice and Voila!!! This simple page
                utilizes <strong>javascript</strong> and an external library to accomplish this task.
            </p>
        </div>
</div>
<hr>
<!--________Back End Projects_________-->
<div class="projects">
    <span id="backEnd"></span>
    <h2>Backend Hosted webpages</h2>
    <!-- 1 -->
    <div class="skill-row">
        <a href="https://taskplannerv1.herokuapp.com/" target="_blank">
            <img class="image" src="Images/taskPlanner.jpg" alt="Task Planner">
            <h3>Task Planner</h3>
        </a>
        <p>The website uses <strong>Node.js, EJS and express</strong> to create a simple webpage in which you can make a
            list of your everyday tasks. With the help of tempelating multiple lists can be generated dynamically without the need of hardcoding for each list page.
            As well as created own <strong>JS library</strong> and used it effeiciently retrieve data in the main file.
        </p>
    </div>
    <!-- 2 -->
    <div class="skill-row">
        <a href="https://evening-plateau-30120.herokuapp.com/" target="_blank">
            <img class="image" src="Images/signUp.jpg" alt=" Sign Up page">
            <h3>Sign Up page</h3>
        </a>
        <p>
            Using <strong>Bootstrap</strong> example sign up page and some custom CSS the page
            is hosted on <strong>Heroku</strong> as a <strong>Node.js</strong> app. Furthermore,
            using <strong>Mailchimp API</strong> the subscriber information is stored in the <strong>
                Mailchimp</strong> database and a welcome email is sent to the subscriber within minutes automatically.
        </p>
    </div>
    <!-- 3 -->
    <div class="skill-row">
        <a href="https://countryweatherapi.herokuapp.com/" target="_blank">
            <img class="image" src="Images/Weather-Api.jpg" alt=" WeatherAPI">
            <h3>Know your country's Weather</h3>
        </a>
        <p>
            The website uses <strong>Node.js, EJS and express</strong> to create simple webpage where you could 
            find weather temperature of any country. The data is received using <strong>Open Weather Map API</strong> which then
            rendered and displayed.
        </p>
    </div>

</div>